:root {
    --dark: black;
    --light: white;
}

@font-face{ 
	font-family: 'Space Mono';
	src: url(../fonts/SpaceMono-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face{ 
	font-family: 'Space Mono';
	src: url(../fonts/SpaceMono-Bold.ttf) format('truetype');
    font-weight: bold;
}

a {
    all: unset;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--dark);
    color: var(--light);
    font-family:'Space Mono', monospace;
    font-size: 1.5rem;
    h1, h2, p {
        margin: 0;
        pading: 0;
        font-weight: normal;
    }
    h1, h2 {
        font-size: 2.5rem;
    }
    h1 {
        text-transform: uppercase;
    }
    a {
        cursor: pointer;
        font-weight: normal;
        &:hover {
            font-weight: bold;
            > * {
                font-weight: bold;
            }
        }
    }
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2rem;
    padding: 4rem;

    header {
        grid-column: 1 / -1;
        height: calc((100vw - 8rem) / 5);
        display: grid;
    }
    
    .project-card, .project-main, .project-vid {
        aspect-ratio: 1/1;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img, video {
            height: 100%;
            width: auto;
        }
    }

    .project-card {
        p {
            position: absolute;
            z-index: 100;
            text-align: right;
            bottom: 0;
            right: 0;
            &:first-of-type {
                text-align: left;
                top: 0;
                left: 0;
            }
        }
        .hover-media {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
        &:hover {
            .static-thumb {
                opacity: 0;
            }
            .hover-media {
                opacity: 1;
            }
        }
    }

    .project-main {
        grid-column: 1 / -1;
    }
    .project-vid {
        grid-column: 1 / -1;
    }

    .project-specs {
        grid-column: 1 / -1;
        display: grid;
        width: 100%;
        position: relative;
        p {
            /* position: absolute; */
        }
    }
}

@media only screen and (min-width: 1024px) {
    body {
        font-size: 1rem;
        h1, h2 {
            font-size: 2rem;
        }
    }
    main {
        grid-template-columns: repeat(5, 1fr);
        .project-main {
            grid-column: 1 / 3;
        }
        .project-vid {
            grid-column: 4 / 6;
        }

        .project-specs {
            grid-column: unset;
        }
    }
}